<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!--********************** Pages to serve ************************** -->
	<servlet>
		<description>Welcome Page</description>
		<servlet-name>index</servlet-name>
		<jsp-file>/WEB-INF/pages/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Brands</description>
		<servlet-name>brandsjsp</servlet-name>
		<jsp-file>/WEB-INF/pages/brands.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>brandsjsp</servlet-name>
		<url-pattern>/brands/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Admin Page</description>
		<servlet-name>adminpage</servlet-name>
		<jsp-file>/WEB-INF/pages/admin.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminpage</servlet-name>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>

	<!-- FOURSQUARE OAUTH -->
	<servlet-mapping>
		<servlet-name>Callback</servlet-name>
		<url-pattern>/foursquare/callback</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Callback</servlet-name>
		<servlet-class>com.handstandtech.brandfinder.server.FoursquareCallback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoursquareLogin</servlet-name>
		<url-pattern>/foursquare/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FoursquareLogin</servlet-name>
		<servlet-class>com.handstandtech.foursquare.server.oauth.FoursquareLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoursquareLogout</servlet-name>
		<url-pattern>/foursquare/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FoursquareLogout</servlet-name>
		<servlet-class>com.handstandtech.foursquare.server.oauth.FoursquareLogout</servlet-class>
	</servlet>


	<!-- Google Analytics -->
	<servlet-mapping>
		<servlet-name>get-google-analytics</servlet-name>
		<url-pattern>/tasks/get-google-analytics/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>get-google-analytics</servlet-name>
		<servlet-class>com.handstandtech.brandfinder.server.googleanalytics.GetEventDataForDateServlet</servlet-class>
	</servlet>


	<!--********************** Follow and UnFollow ************************** -->
	<servlet-mapping>
		<servlet-name>follow</servlet-name>
		<url-pattern>/follow/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>follow</servlet-name>
		<servlet-class>com.handstandtech.brandfinder.server.FollowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>unfollow</servlet-name>
		<url-pattern>/unfollow/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>unfollow</servlet-name>
		<servlet-class>com.handstandtech.brandfinder.server.UnFollowServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>tasks-store-follower-count</servlet-name>
		<url-pattern>/tasks/store-follower-count/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tasks-store-follower-count</servlet-name>
		<servlet-class>com.handstandtech.brandfinder.server.tasks.FollowerCountTaskServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>cron-daily</servlet-name>
		<url-pattern>/cron/daily/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cron-daily</servlet-name>
		<servlet-class>com.handstandtech.brandfinder.server.cron.DailyCronServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>tasks-tweet</servlet-name>
		<url-pattern>/tasks/tweet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tasks-tweet</servlet-name>
		<servlet-class>com.handstandtech.brandfinder.server.cron.TweetServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>cron-hourly</servlet-name>
		<url-pattern>/cron/hourly/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cron-hourly</servlet-name>
		<servlet-class>com.handstandtech.brandfinder.server.cron.HourlyCronServlet</servlet-class>
	</servlet>
	

	<!--*********************************** Logged In Filter ******************************* -->
	<filter>
		<filter-name>logged-in-filter</filter-name>
		<filter-class>com.handstandtech.brandfinder.server.LoggedInFilter</filter-class>
		<init-param>
			<param-name>secure-locations</param-name>
			<param-value>/manage</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>logged-in-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Remote API Support -->
	<servlet>
		<servlet-name>RemoteApi</servlet-name>
		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoteApi</servlet-name>
		<url-pattern>/remote_api</url-pattern>
	</servlet-mapping>


	<!-- Data Source -->
	<servlet>
		<servlet-name>CSV Example</servlet-name>
		<description>CsvDataSourceServlet</description>
		<servlet-class>com.handstandtech.googleanalytics.server.CsvDataSourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CSV Example</servlet-name>
		<url-pattern>/csv/*</url-pattern>
	</servlet-mapping>

	<!--********************** Default page to serve ************************** -->
	<welcome-file-list>
		<welcome-file>WEB-INF/pages/index.jsp</welcome-file>
	</welcome-file-list>


	<!--*********************************** Security Constraints ******************************* -->
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/admin/*</url-pattern>
			<url-pattern>/appstats/*</url-pattern>
			<url-pattern>/cron/*</url-pattern>
			<url-pattern>/tasks/*</url-pattern>
			<url-pattern>/util/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
